@{
    ViewData["Title"] = "FAQ";
}

<h1>@ViewData["Title"]</h1>

<p>Često postavljena pitanja</p>

<ul id="questions">
    <li id="q1">
        <a>Što je ASP.NET i koje su njegove glavne značajke?</a>
    </li>
    <li id="q2">
        <a>Koje su osnovne razlike između ASP.NET Web Forms i ASP.NET MVC?</a>
    </li>
    <li id="q3">
        <a>Koje alate preporučujete za razvoj aplikacija na ASP.NET platformi?</a>
    </li>
    <li id="q4" style="font-weight: @(ViewBag.Selected == 4 ? "bold" : "normal")">
        <a>Koje su najnovije inačice ASP.NET platforme i koje su njihove glavne nadogradnje?</a>
    </li>
    <li id="q5">
        <a>Koje su integracijske mogućnosti ASP.NET aplikacija s drugim Microsoftovim proizvodima, poput Azurea ili SQL Servera?</a>
    </li>
</ul>

