@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<a id="q4selected" asp-action="FAQ" asp-route-selected="4">FAQ selektirano pitanje</a>
<br>
<a id="q4nonselected" asp-action="FAQ">FAQ</a>
